In [1]:
#coding:utf-8
#导入warnings包，利用过滤器来实现忽略警告语句。
import warnings
warnings.filterwarnings('ignore')

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import missingno as msno

In [2]:
traindata=pd.read_csv('F:\二手车\car_train_0110.csv',sep=' ')
testdata=pd.read_csv('F:\二手车\car_testA_0110.csv',sep=' ')

In [3]:
traindata.head()

,SaleID,name,regDate,model,brand,bodyType,fuelType,gearbox,power,kilometer,...,v_14,v_15,v_16,v_17,v_18,v_19,v_20,v_21,v_22,v_23
0,134890,734,20160002,13.0,9,NaN,0.0,1.0,0,15.0,...,0.092139,0.000000,18.763832,-1.512063,-1.008718,-12.100623,-0.947052,9.077297,0.581214,3.945923
1,306648,196973,20080307,72.0,9,7.0,5.0,1.0,173,15.0,...,0.001070,0.122335,-5.685612,-0.489963,-2.223693,-0.226865,-0.658246,-3.949621,4.593618,-1.145653
2,340675,25347,20020312,18.0,12,3.0,0.0,1.0,50,12.5,...,0.064410,0.003345,-3.295700,1.816499,3.554439,-0.683675,0.971495,2.625318,-0.851922,-1.246135
3,57332,5382,20000611,38.0,8,7.0,0.0,1.0,54,15.0,...,0.069231,0.000000,-3.405521,1.497826,4.782636,0.039101,1.227646,3.040629,-0.801854,-1.251894
4,265235,173174,20030109,87.0,0,5.0,5.0,1.0,131,3.0,...,0.000099,0.001655,-4.475429,0.124138,1.364567,-0.319848,-1.131568,-3.303424,-1.998466,-1.279368

In [4]:
testdata.head()

,SaleID,name,regDate,model,brand,bodyType,fuelType,gearbox,power,kilometer,...,v_14,v_15,v_16,v_17,v_18,v_19,v_20,v_21,v_22,v_23
0,720326,505,20060505,19.0,13,7.0,0.0,1.0,90,8.0,...,0.083340,0.105382,-5.998993,0.147048,-1.902847,0.348990,2.324961,3.343910,4.048742,-1.431822
1,714316,1836,20010301,5.0,5,3.0,4.0,1.0,75,15.0,...,0.074478,0.000000,-3.287221,2.081317,2.937052,-0.123018,1.202395,3.570743,-1.180587,-1.348598
2,704693,212291,20170610,6.0,18,NaN,5.0,0.0,150,15.0,...,0.002032,0.000000,4.368218,8.252188,-4.136109,-13.334970,-4.444620,-0.706978,-1.720218,3.569112
3,624972,1345,19820005,215.0,32,7.0,0.0,1.0,0,6.0,...,0.098806,0.100883,-2.537486,0.513955,4.414962,0.357685,2.700732,5.323602,6.085956,-0.900585
4,669753,1428,20060205,30.0,4,7.0,5.0,1.0,122,15.0,...,0.088397,0.002509,-6.197633,-0.191814,-1.224360,-0.326985,2.254931,4.183037,-2.574004,0.014203

In [5]:
traindata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250000 entries, 0 to 249999
Data columns (total 40 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   SaleID             250000 non-null  int64
 1   name               250000 non-null  int64
 2   regDate            250000 non-null  int64
 3   model              250000 non-null  float64
 4   brand              250000 non-null  int64
 5   bodyType           224620 non-null  float64
 6   fuelType           227510 non-null  float64
 7   gearbox            236487 non-null  float64
 8   power              250000 non-null  int64
 9   kilometer          250000 non-null  float64
 10  notRepairedDamage  201464 non-null  float64
 11  regionCode         250000 non-null  int64
 12  seller             250000 non-null  int64
 13  offerType          250000 non-null  int64
 14  creatDate          250000 non-null  int64
 15  price              250000 non-null  int64
 16  v_0                250000 non-null  float64
 17  v_1                250000 non-null  float64
 18  v_2                250000 non-null  float64
 19  v_3                250000 non-null  float64
 20  v_4                250000 non-null  float64
 21  v_5                250000 non-null  float64
 22  v_6                250000 non-null  float64
 23  v_7                250000 non-null  float64
 24  v_8                250000 non-null  float64
 25  v_9                250000 non-null  float64
 26  v_10               250000 non-null  float64
 27  v_11               250000 non-null  float64
 28  v_12               250000 non-null  float64
 29  v_13               250000 non-null  float64
 30  v_14               250000 non-null  float64
 31  v_15               250000 non-null  float64
 32  v_16               250000 non-null  float64
 33  v_17               250000 non-null  float64
 34  v_18               250000 non-null  float64
 35  v_19               250000 non-null  float64
 36  v_20               250000 non-null  float64
 37  v_21               250000 non-null  float64
 38  v_22               250000 non-null  float64
 39  v_23               250000 non-null  float64
dtypes: float64(30), int64(10)
memory usage: 76.3 MB

In [10]:
traindata.isnull().sum()

SaleID                   0
name                     0
regDate                  0
model                    0
brand                    0
bodyType             25380
fuelType             22490
gearbox              13513
power                    0
kilometer                0
notRepairedDamage    48536
regionCode               0
seller                   0
offerType                0
creatDate                0
price                    0
v_0                      0
v_1                      0
v_2                      0
v_3                      0
v_4                      0
v_5                      0
v_6                      0
v_7                      0
v_8                      0
v_9                      0
v_10                     0
v_11                     0
v_12                     0
v_13                     0
v_14                     0
v_15                     0
v_16                     0
v_17                     0
v_18                     0
v_19                     0
v_20                     0
v_21                     0
v_22                     0
v_23                     0
dtype: int64

可以看出，bodytype，fuelType，gearbox，notRepairedDamage均有缺失值

In [6]:
testdata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 39 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   SaleID             50000 non-null  int64
 1   name               50000 non-null  int64
 2   regDate            50000 non-null  int64
 3   model              50000 non-null  float64
 4   brand              50000 non-null  int64
 5   bodyType           44890 non-null  float64
 6   fuelType           45598 non-null  float64
 7   gearbox            47287 non-null  float64
 8   power              50000 non-null  int64
 9   kilometer          50000 non-null  float64
 10  notRepairedDamage  40372 non-null  float64
 11  regionCode         50000 non-null  int64
 12  seller             50000 non-null  int64
 13  offerType          50000 non-null  int64
 14  creatDate          50000 non-null  int64
 15  v_0                50000 non-null  float64
 16  v_1                50000 non-null  float64
 17  v_2                50000 non-null  float64
 18  v_3                50000 non-null  float64
 19  v_4                50000 non-null  float64
 20  v_5                50000 non-null  float64
 21  v_6                50000 non-null  float64
 22  v_7                50000 non-null  float64
 23  v_8                50000 non-null  float64
 24  v_9                50000 non-null  float64
 25  v_10               50000 non-null  float64
 26  v_11               50000 non-null  float64
 27  v_12               50000 non-null  float64
 28  v_13               50000 non-null  float64
 29  v_14               50000 non-null  float64
 30  v_15               50000 non-null  float64
 31  v_16               50000 non-null  float64
 32  v_17               50000 non-null  float64
 33  v_18               50000 non-null  float64
 34  v_19               50000 non-null  float64
 35  v_20               50000 non-null  float64
 36  v_21               50000 non-null  float64
 37  v_22               50000 non-null  float64
 38  v_23               50000 non-null  float64
dtypes: float64(30), int64(9)
memory usage: 14.9 MB

In [7]:
traindata.describe()

,SaleID,name,regDate,model,brand,bodyType,fuelType,gearbox,power,kilometer,...,v_14,v_15,v_16,v_17,v_18,v_19,v_20,v_21,v_22,v_23
count,250000.000000,250000.000000,2.500000e+05,250000.000000,250000.000000,224620.000000,227510.000000,236487.000000,250000.000000,250000.000000,...,250000.000000,250000.000000,250000.000000,250000.000000,250000.000000,250000.000000,250000.000000,250000.000000,250000.000000,250000.000000
mean,185351.790768,83153.362172,2.003401e+07,44.911480,7.785236,4.563271,1.665008,0.780783,115.528412,12.577418,...,0.032489,0.030408,0.014725,0.000915,0.006273,0.006604,-0.001374,0.000609,-0.004025,0.001834
std,107121.188763,72540.799964,7.770250e+04,50.640081,7.694010,1.912515,2.339646,0.413717,196.141828,3.990632,...,0.038792,0.049333,8.779163,5.771081,4.880981,4.124722,3.803626,3.555353,2.864713,2.323680
min,1.000000,0.000000,1.910000e+07,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.500000,...,0.000000,0.000000,-10.412444,-15.538236,-21.009214,-13.989955,-9.599285,-11.181255,-7.671327,-2.350888
25%,92501.750000,14500.000000,1.999061e+07,6.000000,1.000000,3.000000,0.000000,1.000000,70.000000,12.500000,...,0.000129,0.000000,-5.552269,-0.901181,-3.150385,-0.478173,-1.727237,-3.067073,-2.092178,-1.402804
50%,185264.500000,65314.500000,2.003111e+07,27.000000,6.000000,4.000000,0.000000,1.000000,105.000000,15.000000,...,0.001961,0.002567,-3.821770,0.223181,-0.058502,0.038427,-0.995044,-0.880587,-1.199807,-1.145588
75%,278128.500000,143761.250000,2.008081e+07,70.000000,11.000000,7.000000,5.000000,1.000000,150.000000,15.000000,...,0.075672,0.056568,3.599747,1.263737,2.800475,0.569198,1.563382,3.269987,2.737614,0.044865
max,370946.000000,233044.000000,2.019121e+07,250.000000,39.000000,7.000000,6.000000,1.000000,20000.000000,15.000000,...,0.130785,0.184340,36.756878,26.134561,23.055660,16.576027,20.324572,14.039422,8.764597,8.574730

In [8]:
testdata.describe()

,SaleID,name,regDate,model,brand,bodyType,fuelType,gearbox,power,kilometer,...,v_14,v_15,v_16,v_17,v_18,v_19,v_20,v_21,v_22,v_23
count,50000.000000,50000.000000,5.000000e+04,50000.000000,50000.000000,44890.000000,45598.000000,47287.000000,50000.000000,50000.000000,...,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000
mean,556029.053380,82878.251420,2.003441e+07,44.922840,7.779420,4.556226,1.681192,0.781081,114.116060,12.555210,...,0.032570,0.030773,-0.024819,0.007051,-0.008488,-0.030104,0.014609,-0.003353,0.013125,-0.011936
std,106952.402565,72292.076936,7.788055e+04,50.576255,7.661667,1.908291,2.344829,0.413518,177.274154,4.034901,...,0.038779,0.049521,8.759663,5.784299,4.825261,4.100561,3.812667,3.548944,2.866774,2.316144
min,370951.000000,0.000000,1.910000e+07,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.500000,...,0.000000,0.000000,-10.196998,-15.167961,-21.925773,-13.682825,-9.282567,-11.117367,-6.365723,-2.394516
25%,463258.500000,14121.250000,1.999061e+07,6.000000,1.000000,3.000000,0.000000,1.000000,69.000000,12.500000,...,0.000135,0.000000,-5.575131,-0.891030,-3.105073,-0.481952,-1.697763,-3.069575,-2.089326,-1.402958
50%,556296.000000,65359.000000,2.003111e+07,27.000000,6.000000,4.000000,0.000000,1.000000,105.000000,15.000000,...,0.001949,0.002593,-3.837572,0.221379,-0.081836,0.039376,-0.971210,-0.877377,-1.192502,-1.146398
75%,648862.250000,143083.750000,2.008091e+07,70.000000,11.000000,7.000000,5.000000,1.000000,150.000000,15.000000,...,0.075826,0.062063,3.531269,1.257687,2.784538,0.560046,1.572508,3.276918,2.772742,-0.010769
max,741887.000000,233028.000000,2.019040e+07,248.000000,39.000000,7.000000,6.000000,1.000000,17700.000000,15.000000,...,0.135900,0.180091,36.364986,26.043572,22.598441,16.333051,20.273633,11.691851,7.970303,8.749647

由于比赛前期已经对数据进行过建模，使用的方案为Bi-lstm.我采用的方案是将缺失值全部设为-1，然后利用task3特征工程进行离散化和归一化。因为有缺失值的部分都是类别特征，但是缺失值的数量又比较多，不能将其剔除，但是又不能设为0，如果设置为0的话会对结果产生较大影响，后面利用互信息的方式对每个特征和价格的相关性进行了计算。结果如下：

feature_cols,carnmi
model,0.1183162754174238
brand,0.05298787880104686
bodyType,0.04084944378774965
fuelType,0.03195356234358269
gearbox,0.024801228349346296
power,0.13651930226247122
kilometer,0.05134858909106972
notRepairedDamage,0.03130729404267111
regionCode,0.3421126305995645
seller,6.4184342099265305e-06
offerType,4.182662394872487e-05
v_0,0.6583808550695546
v_1,0.6583808550695543
v_2,0.6583808550695545
v_3,0.6583808550695546
v_4,0.6583808550695543
v_5,0.6583808550695546
v_6,0.6583808550695543
v_7,0.6583808550695543
v_8,0.6142033141672417
v_9,0.6583808550695542
v_10,0.6357966080577717
v_11,0.6676476451657527
v_12,0.6387119688142765
v_13,0.6464095320637543
v_14,0.6272832970319189
v_15,0.5688107197350819
v_16,0.6583808550695546
v_17,0.6583808550695543
v_18,0.6583808550695545
v_19,0.6583808550695545
v_20,0.6583808550695545
v_21,0.6583808550695543
v_22,0.6583808550695543
v_23,0.6583808550695542
used_time,0.3902458979590597

后期特征工程可以考虑删去重要性小于0.05的特征进行建模，以提高模型的精度。

the end